<div class="mx-auto max-w-2xl px-4 pt-10 pb-16 sm:px-6 lg:grid lg:max-w-7xl lg:grid-cols-3 lg:grid-rows-[auto,auto,1fr] lg:gap-x-8 lg:px-8 lg:pt-16 lg:pb-24">
  <div class="lg:col-span-2 lg:border-r lg:border-gray-200 lg:pr-8">
    <h1 class="text-2xl font-bold tracking-tight text-gray-900 sm:text-3xl">Private room in vacation home hosted by Vakhtang</h1>
  </div>

  <!-- reservations controller -->
  <div
    class="mt-4 lg:mt-0 lg:row-span-3"
    data-controller="reservation"
    data-checkin-date="<%= Date.tomorrow.to_s(:reservation_format) %>"
    data-checkout-date="<%= (Date.tomorrow + 1.day).to_s(:reservation_format) %>"
    data-nightly-price="<%= humanized_money(@property.price) %>"
    data-service-fee-percentage="<%= Property::SERVICE_FEE_PERCENTAGE %>"
    data-cleaning-fee="<%= humanized_money(Property::CLEANING_FEE_MONEY) %>"
    >
    <div class="mt-10 lg:mt-0">
      <div class="bg-white">
        <h3 class="text-2xl font-medium text-gray-900"><%= humanized_money_with_symbol(@property.price) %> night</h3>

        <div class="isolate -space-y-px rounded-md shadow-sm mt-6 flex items-center border-2 border-black box-border">
          <div class="relative border border-black rounded-md w-full rounded-b-none px-3 py-2 focus-within:z-10 focush-within:ring-1 focus-within:ring-black focus-within:border-black">
            <label 
              for="name" 
              class="bloc text-xs font-medium text-gray-900 uppercase">
              Check-in
            </label>
            <input 
              type="text" 
              name="name" 
              id="name" 
              autocomplete="off"
              class="block w-full border-0 p-o text-gray-900 placeholder-gray-500 focus:ring-0 sm:text-sm" 
              placeholder="11/30/2022"
              data-reservation-target="checkin"
              >
          </div>
          <div class="relative border border-black rounded-md w-full rounded-b-none px-3 py-2 focus-within:z-10 focush-within:ring-1 focus-within:ring-black focus-within:border-black">
            <label 
              for="name" 
              class="bloc text-xs font-medium text-gray-900 uppercase">
              Checkout
            </label>
            <input 
              type="text" 
              name="name"
              id="name" 
              autocomplete="off"
              class="block w-full border-0 p-o text-gray-900 placeholder-gray-500 focus:ring-0 sm:text-sm" 
              placeholder="12/7/2022"
              data-reservation-target="checkout"
              >
          </div>
        </div>

        <div class="divide-y divide-gray-200">
        </div>
        <dl class="space-y-6 mt-6">
          <div class="flex items-center justify-between">
            <dt class="text-sm"><%= humanized_money_with_symbol(@property.price ) %> x <span data-reservation-target="numberOfNights">0</span></dt>
            <dd class="text-sm font-medium text-gray-900">$<span data-reservation-target="nigtlyTotal">0</span></dd>
          </div>
          <div class="flex items-center justify-between">
            <dt class="text-sm">Cleaning fee</dt>
            <dd class="text-sm font-medium text-gray-900"><%= humanized_money_with_symbol(Property::CLEANING_FEE_MONEY) %></dd>
          </div>
          <div class="flex items-center justify-between">
            <dt class="text-sm">Service fee</dt>
            <dd class="text-sm font-medium text-gray-900">$<span data-reservation-target="serviceFee" ></span></dd>
          </div>
          <div class="flex items-center justify-between border-t border-gray-200 pt-6">
            <dt class="text-sm">Total</dt>
            <dd class="text-sm font-medium text-gray-900">$<span data-reservation-target="totalCost">0</span></dd>
          </div>
        </dl>

        <div class="pt-6">
          <button type="submit" class="w-full airbnb-pinkish-gradient border border-transparent rounded-md shadow-sm py-3 px-4 text-base font-medium text-white">Confirm Order</button>
        </div>
      </div>
    </div>
  </div>

  <div class="py-10 lg:col-span-2 lg:col-start-1 lg:border-r lg:border-gray-200 lg:pt-6 lg:pb-16 lg:pr-8">
    <!-- Description and details -->
    <div>
      <h3 class="font-bold">Description</h3>

      <div class="space-y-6">
        <p class="text-base text-gray-900"><%= truncate @property.description, length: 500 %></p>
        <% if @property.description.length > 500 %>
          <%= link_to "Show more >", "", class: "text-lg font-medium underline", data: { action: "property#readDescription" } %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render "shared/modal", modal_trigger_id: "property-description-trigger", modal_content: "properties/property_description", content_params: { property: @property } %>